.Header{
  background-color: #0b0b0b;
  color: #ffffff;
  margin: 0 auto;
}
.Footer{
  background-color: #0b0b0b ;
  color: red;
}
.notFound{
  display: flex;
  justify-content: center;
  align-items: center;
  color: red;
  font-size: 50px;
}

.logo{
  width: 8%;
}
.navLink{
  text-decoration: none;
  text-align: center;
  color: aqua;
  
}